<div>
   <center>
      <form action="/auth/login" method="POST">
         <div class="mb-3 mt-3">
            <label> Username
               <input type="text" class="form-control" name="username" required>
            </label>
         </div>
         <div class="mb-3 mt-3">
            <label> Password
               <input type="password" class="form-control" name="password" required>
            </label>
         </div>
      
         <button type="submit" class="btn btn-primary">Login</button>
      </form>
   </center>
</div>

{{#if errorMessage}}
   {{errorMessage}}
{{/if}}