<div id="fondo-home">

    <div style="background-color: black; padding:20px ; border-color: rgb(255, 255, 255) ">
    <h1><b style="font-size: 70px;">Welcome to Sharex 🎬</b></h1>
    <h5 style="text-align: center;">The platform for people that love entertainment</h5>
        
    </div>
</div>