<div class='container'>
    <div class="row align-items-center my-5">
        <div class="col-sm-12 col-md-4">
            <h1 style="font-size: 2rem;"><b>Welcome to Sharex</b></h1>
            <h5 style="font-size: 1:rem;">The platform for people that love entertainment</h5>
        </div>
        <div class="col-sm-12 col-md-8">
            <img src="/images/background.png" width="100%">
        </div>
    </div>
</div>