<div class="container">
    <h1 class="display-2 text-left">{{mediaType}}s</h1>
</div>

<div class="container">
    <div class="row justify-content-start g-3">
        {{#each mediasData}}
        <div class="col-4" style="width: 16rem;">
            <a href="/media/{{id}}">
                <div class="card h-100">
                    <img class="card-img-top" src="{{imageUrl}}" alt="Card image">
                </div>  
            </a>
        </div>
        {{/each}}         
    </div>
</div> 