<center>
    <h1>Videogames</h1>
    
    <br>
    
    <a href="https://startling-dango-796a03.netlify.app/">
        <button type="button" class="btn btn-warning" id="Memory">Game Memory</button>
    </a>
    
    <br>
    <br>
    
    <a href="https://function-developer-shooter.netlify.app">
        <button type="button" class="btn btn-warning" id="Memory">Function Developer Shooter</button>
    </a>
</center>
