<div class="container">
  <div class="alert alert-danger mt-5" rol>
    <h4 class="alert-heading">401 Error: Unauthorized!</h4>
      <p>Unfortunately you do not have enough permissions to access this resource! Please return to the main page.</p>
  </div>
</div>