<div class="container">
  <div class="alert alert-danger mt-5" rol>
    <h4 class="alert-heading">400 Error: Bad Request!</h4>
      <p>Unfortunately the server cannot process your request, please try again.</p>
  </div>
</div>